
header{
    height: 100px;
    background-color: red;
}


/* utilities */
*{
    border: 1px dashed black;
}
.height-600{
    min-height: 600px;
}
.height-400{
    min-height: 400px;
}
.height-300{
    min-height: 300px;
}
.height-200{
    min-height: 200px;
}
.height-100{
    min-height: 100px;
}

/* colors */

.bgcolorlightblue{
    background-color: lightblue;
}
.bgcolorgreen{
    background-color: green;
}
.bgcolorred{
    background-color: red;
}
