
header{
    height: 100px;
    background-color: rgb(44,62,80);
}

/* utilities */


.height-600{
    min-height: 600px;
}
.height-400{
    min-height: 400px;
}
.height-300{
    min-height: 300px;
}
.height-200{
    min-height: 200px;
}
.height-100{
    min-height: 100px;
}

/* colors */

.bgcolorlightblue{
    background-color: rgb(44,62,80);
}
.bgcolorgreen{
    background-color: rgb(26,188,156);
}
.bgcolorred{
    background-color: red;
}
.colorwhite{
    color: white;
}